@charset "utf-8";
/* CSS Document */

#login_form, #login_form a:link, #login_form a:active, #login_form a:visited{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #4B65A7;
	text-decoration: none;
}

.sidebar_menu{
	text-align: right;
	font-size: 16px;
	line-height: 1.5em;
}

#label_for_username, #label_for_password{
	position: absolute;
	right: 140px;
	top: -10px;
}

#label_for_password{
	top: 13px;
}

#user_id, #password{
	position: absolute;
	left: 65px;
	top: -13px;
}

#password{
	top: 10px;
}

#signup_button, #login_button, #login_separator{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #4B65A7;
	position: absolute;
	left: 105px;
	top: 37px;
}

#login_button{
	left: 160px;
}

#login_separator{
	left: 160px;
	
	/* pasiguro. para kahit palitan
	 * yung bg-color, border, etc..., sa buttons
	 * no epek pa rin sa separator
	 */
	background-color: transparent;
	border: 0px solid #FFF;
	font-size: 14px;
}

#login_flash_message{
	text-align: center;
	word-wrap: break-word;
	color: #900;
	position: relative;
	top: 60px;
	padding: 5px;
	width: 195px;/*
	border: 1px solid #000;*/
}

#login_form div.blank_box{
	height: 40px;
	width: 100%;
}