@charset "utf-8";
/* CSS Document */

#login_form, #login_form a:link, #login_form a:active, #login_form a:visited{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #4B65A7;
	text-decoration: none;
}

.sidebar_menu{
	text-align: right;
	font-size: 16px;
	line-height: 1.5em;
}

#label_for_username, #label_for_password{
	position: relative;
	right: 70px;
	top: 0px;
}

#label_for_password{
	right: 141px;
	top: 7px;
}

#user_id, #password{
	position: relative;
	left: 65px;
	top: -16px;
	padding-left: 3px;
	width: 140px;
	height: 16px;
	border: 1px solid #E0E2FC;
	border-radius: 5px;
}

#password{
	left: 37px;
	top: -13px;
}

#signup_button, #login_button, #login_separator{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #4B65A7;
	position: relative;
	left: 59px;
	top: -10px;
	background-color: transparent;
	border: 0px solid #FFF;
}

#login_button{
	position: relative;
	left: 50px;
}

#login_separator{
	position: relative;
	left: 55px;
	
	/* pasiguro. para kahit palitan
	 * yung bg-color, border, etc..., sa buttons
	 * no epek pa rin sa separator
	 */
	background-color: transparent;
	border: 0px solid #FFF;
	font-size: 14px;
}

#login_flash_message{
	text-align: center;
	word-wrap: break-word;
	color: #900;
	position: relative;
	top: -10px;
	padding: 5px;
	width: 195px;
	/*border: 1px solid #000;*/
}