@charset "utf-8";
/* CSS Document 
 *	for main multilevel dropdown menu
 */

.top_left_curve{
	border-top-left-radius: 6px;
}

.top_right_curve{
	border-top-right-radius: 6px;
}

.bottom_right_curve{
	border-bottom-right-radius: 6px;
}

.bottom_left_curve{
	border-bottom-left-radius: 6px;
}

/* removes bullet and indents */
#topnav, #topnav ul{
	z-index: 9;
  margin:0;
  padding:0;
  list-style-type:none;
  list-style-position:outside;
  position:relative;
  line-height:25px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
}

/* add some basic mouse action/movement designs.
 * this includes background color & highlight
 */ 
#topnav a:link, #topnav a:active, #topnav a:visited{
    display:block;
		width: 154px;
		min-height: 25px;
    border:1px solid #000;
    color:#6F9;
    text-decoration:none;
    background-color:#000;
			-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
			-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
			box-shadow: 0px 1px 5px 0px #4a4a4a;
 }

#topnav a:hover{
    background-color:#3C9;
    color:#000;
		font-weight:bold;
}
/* arrange links such that
 * each submenu is under its parent menu
 */
#topnav li{
    float:left;
    position:relative;
}

/* This will position the nested Lists right beyond
 * the main menu and give them a width of 12em. The
 * width attribute is needed so that the list items
 * within display vertically again. The Top attribute 
 * should have the same value as the line-height
 * attribute we defined for #topnav.
 */
#topnav ul {
    position:absolute;
    width:154px;
    top:25px;
    display:none;
}


/* This will set the width of the hyper links to 12 em
 *(which in combination with the width of the UL set above
 * results in a horizontally displayed sub menu, despite
 * of the ongoing float:left)
 */
#topnav li ul a{
    width: 154px;
    float:left;
}

/* #nav ul ul and #nav li ul ul define where we display the sub menus.
 * The hover states define which items we want to show when hovering
 * over an item (only the next sub level, not all of them)
 */
#topnav ul ul{
	top:auto;
}

#topnav li ul ul {
  left:156px;
}

#topnav li:hover ul ul, #topnav li:hover ul ul ul,
#topnav li:hover ul ul ul ul{
  display:none;
}
#topnav li:hover ul, #topnav li li:hover ul,
#topnav li li li:hover ul, #topnav li li li li:hover ul{
  display:block;
}